<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sistema Administrador de Practicas de Especialidad</title>
    <link rel="stylesheet" href="/Content/Styles/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/Content/Styles/form-layout.css" type="text/css"/>
    @RenderSection("Scripts", required: false)
</head>
<body>
        @RenderBody()
</body>
</html>
