<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sistema Administrador de Practicas de Especialidad | @ViewBag.Title</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/Content/Styles/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/Content/Styles/main-style.css" type="text/css" />
</head>
<body>
    <div id="top-navbar" class="row">
        <div class="col-md-2 top-side-bar"></div>
        <div class="col-md-10 top-bar"></div>
    </div>
    <div class="row" id="main-content">
        <div class="col-md-2 top-side-bar">
            <div id="sidebar" class="list-group">
                <a class="list-group-item list-group-title">GESTIONAR</a>
                <a href="#" class="list-group-item">Practicantes</a>
                <a id="item-Calificaciones" href="/Main/Calificaciones" class="list-group-item">Calificaciones</a>
                <a href="#" class="list-group-item">Reportes</a>
                <a class="list-separator"></a>
                <a class="list-group-item list-group-title">REGISTRO</a>
                <a id="item-RegistroEmpresas" href="/Main/RegistroEmpresas" class="list-group-item">Empresas</a>
                <a href="#" class="list-group-item">Profesores</a>
                <a id="item-Candidatos" href="/Report/ReporteCandidatos" class="list-group-item">Candidatos</a>
            </div>
        </div>
        @if (TempData["Message"] != null)
        {
            <div id="errorAlert" class="alert alert-warning fade in">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                @TempData["Message"]
            </div>
        }

        <div class="col-md-10">
            @RenderBody()
        </div>
    </div>
    <script src="/Content/Scripts/jquery.js"></script>
    <script src="/Content/Scripts/bootstrap.min.js"></script>
    <script src="/Content/Scripts/main-script.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
