@{
    ViewBag.Title = "FormSent";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}
<div class="main-form container">
    <h1 class="form-sent-title">Gracias</h1>
    <h2>Los datos han sido recibidos satisfactoriamente</h2>
</div>
