@{
    ViewBag.Title = "RegistroCandidatos";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

<div class="main-form container">
    <h2>Registro de Candidatos</h2>
    <form role="form" method="post">
        <div class="form-group">
            <label for="nombreCand">Nombre</label>
            <input id="nombreCand" class="form-control" type="text" name="nombreCand" />
        </div>
        <div class="form-group">
            <label for="prmApellidoCand">Primer Apellido</label>
            <input id="prmApellidoCand" class="form-control" type="text" name="prmApellidoCand" />
        </div>
        <div class="form-group">
            <label for="sdoApellidoCand">Segundo Apellido</label>
            <input id="sdoApellidoCand" class="form-control" type="text" name="sdoApellidoCand" />
        </div>
        <div class="form-group">
            <label for="carnetCand">Carnet</label>
            <input id="carnetCand" class="form-control" type="text" name="carnetCand" />
        </div>
        <div class="form-group">
            <label for="telCand">Telefono</label>
            <input id="telCand" class="form-control" type="text" name="telCand" />
        </div>
        <div class="form-group">
            <label for="correoCand">Correo</label>
            <input id="correoCand" class="form-control" type="text" name="correoCand" />
        </div>
        <div class="form-group">
            <label for="cursoDebe">Si debe algun curso, seleccionelo <br />de la siguiente lista</label>
            <select id="cursoDebe" class="form-control" name="cursoDebe">
                @foreach (SAPE_MVC.Models.Curso curso in ViewBag.Curso)
                {
                    <option value="@curso.idCurso">@curso.Nombre</option>    
                }
            </select>
        </div>
        <div class="form-group">
            <input class="btn btn-primary pull-right" type="submit" value="Enviar"/>
        </div>
    </form>
</div>
