@{
    ViewBag.Title = "RegistroEmpresas";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

@section Scripts {
    <script src="/Content/Scripts/form-empresas.js"></script>
}
<div class="main-form container">
    <h2>Registro de Empresas</h2>
    <form role="form" method="post">
        <div class="form-group">
            <label for="nombreEmpresa">Nombre de la empresa</label>
            <input id="nombreEmpresa" class="form-control" type="text" name="nombreEmpresa" autocomplete="off"/>
        </div>
        <div class="form-group">
            <label for="ciudad">Ubicacion</label>
            <select name="ciudad" id="ciudad" class="form-control">
                @foreach (SAPE_MVC.Models.Ciudad ciudad in ViewBag.Ciudades)
                {
                    <option value="@ciudad.idCiudad">@ciudad.Nombre</option>    
                }
            </select>
        </div>
        <h3>Informacion de contacto</h3>
        <div class="form-group">
            <label for="nombreContacto">Nombre</label>
            <input id="nombreContacto" type="text" name="nombreContacto" class="form-control" />
        </div>
        <div class="form-group">
            <label for="papellidoContacto">Primer Apellido</label>
            <input id="papellidoContacto" type="text" name="papellidoContacto" class="form-control" />
        </div>
        <div class="form-group">
            <label for="sapellidoContacto">Segundo Apellido</label>
            <input id="sapellidoContacto" type="text" name="sapellidoContacto" class="form-control" />
        </div>
        <div class="form-group">
            <label for="telContacto">Teléfono</label>
            <input id="telContacto" type="text" name="telContacto" class="form-control" />
        </div>
        <div class="form-group">
            <label for="emailContacto">E-mail</label>
            <input id="emailContacto" type="text" name="emailContacto" class="form-control" />
        </div>
        <input type="submit" class="btn btn-primary pull-right" value="Enviar" />
    </form>
</div>
