html {
    height:100%;
}

body {
    background-image: url("/Content/Images/login/bg.jpg");  
    padding: 5%;
    min-height: 100%;
}

.main-form {
    background-image: url("/Content/Images/Form/form-bg.png");
    padding: 3%;
    max-width: 600px;
}

h2 {
    text-align:center;
    margin-bottom: 10%;
    color: #595850;
}

h3 {
    text-align: left;
    margin-left: 20px;
    color: #595850;
}

label {
    color: #404040;
    margin-left: 20px;
}

.form-control {
    max-width: 300px;
    margin-left: 20px;
}

.btn-primary {
    margin-top: 10px;
    padding: 6px 30px;
    background-color: #999999;
    border-color: #999999;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #404040;
    border-color: #404040;
}

#checkCarne {
    left: -125px;
    position: relative;
    top: -45px;
}

#form-body {
    display: none;
}

#adjunta {
  left: -135px;
  position: relative;
  top: -135px;
}

/* AutoComplete */
.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 14px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }