/* MODAL FIX */
.modal-open, .modal-open .navbar-fixed-top {
  margin-right: 0 !important;
}

/* GENERAL */
.row {
    margin-right: 0px;
}

/* TOP BAR */
#top-navbar {
    height: 70px;
}

.top-side-bar {
    background-color: #404040;
    height: 100%;
    padding-right: 0;
}

.top-bar {
    border-bottom: solid 2px #999999;
    height: 100%;
}

/* SIDE BAR */
#sidebar {
    border-radius: 0;
}

.list-group-item {
    border-radius: 0 !important;
    padding-left: 30px;
    border: 0;
    background-color: #404040;
}

    .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
        border-right: 5px solid #61A3A3;
        color: #61A3A3;
        background-color: #404040;
    }

.list-separator {
    margin: 5px;
}

.list-group-title, .list-group-title:hover, .list-group-title:focus {
    padding-left: 25px;
    font-weight: bold;
    color: #999999;
    background-color: #333333;
    border: 0;
}

#main-content {
    background-color: #F2F2F2;
}

/* Error div */
#errorAlert {
  font-size: 15px;
  margin-left: 15px;
  text-align: center;
}